
  



    #cohete{
      transform: rotate(45deg);
      position: relative;
      animation-name:mover;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    #estrella{
      position: relative;
      animation-name:agrandar;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    #planeta{
      position: relative;
      animation-name:rotar;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }

    @keyframes rotar{
      0%{  transform: rotate(0deg); }
      100%{ transform: rotate(180deg);}
    }
    @keyframes agrandar{
      0%{  height: 100px; }
      50%{  height: 50px; }
      100%{ height: 100px; }
    }

    @keyframes mover{
      0%{left: 0;}
      100%{left: 80vw}
    }

    @keyframes color{
      0%{color: #f1be0e;}
      50%{color: #6262df;}
      100%{color: #17e8e2;}
    }
    @keyframes size{
      0%{font-size: 25px;}
      100%{font-size: 65px;}
    }
    @keyframes fuente{
      0%{font-family: 'Cosmic Blaster';}
      25%{font-family: 'gameovercre';}
      50%{font-family: 'Gamelia';}
      75%{font-family: 'Happy School';}
      100%{font-family: 'Game Robot';}
    }



    table, th, td{
      border: 2px solid #76e5cf;
      border-collapse: collapse;
      padding: 20px;
    }